@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 34px;
}

.standartZoneContainer{
    background-image: url(../img/GEO-TERRAIN5.png);
    height: 100%;
    
}

.nav {
    position: fixed;
    top: 10%;
    left: 20px;
    z-index: 2;
}


.verticalNav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

.verticalNav li {
    writing-mode: vertical-rl; /* Делает текст вертикальным */
    padding: 20px 0px;
}

.verticalNav li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.standartZoneContainer{
    padding: 130px;
}

.descMainBox{
    width: 182px;
    background-color: #1F1F1F;
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 0px 5px 15px 0px #0000004D;

}

.descBox{
    border: 2px solid #4d4d4d;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descBox img{
    width: 143px;
}

.title{
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

.desc{
    font-size: 12px;
    text-align: center;
    color: #858585;
}

.topDescription{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.bottomDescription{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.priceMainBox{
    width: 182px;
    background-color: #1F1F1F;
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 0px 5px 15px 0px #0000004D;

}

.priceBox{
    border: 3px solid #E637B7;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottomDesc{
    font-size: 14px;
    text-align: center;
    color: #FF98D880;
}

.price{
    margin-top: 10px;
}

.elMain{
    width: 357px;
    background-color: #1F1F1F;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}

.elMain p{
    font-size: 20px;
}

.elMainBox{
    padding: 20px;
    border: 2px solid #4d4d4d; 
    border-radius: 5px;
    text-align: center;
}

.standartPlusZoneContainer{
    background-color: #0E0E0E;
    padding: 130px;
    
}

.priceBoxPlus{
    border: 3px solid #149EF2;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottomDescPlus{
    font-size: 14px;
    text-align: center;
    color: #54BFFFB2;
}


.ps5ZoneContainer{
    background-color: #0E0E0E;;
    padding: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pricePS5{
    display: flex;
    flex-wrap: wrap;
}


.reserveForm{
    display: flex;
    align-items: center;
    padding: 20px;
    background: #1F1F1F;
    border-radius: 30px;
}

.reserveFormBox {
    background: #1F1F1F;; 
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #3d3d3d;
}

.reserveFormBox h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.reserveFormBox form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-row:first-child input {
    flex: 1;
}

.reserveFormBox input,
.reserveFormBox textarea {
    padding: 10px;    
    font-size: 14px;
    border: none;
    border-radius: 5px;
    outline: none;
    background: #141414; /* темный фон для полей */
    color: #FFFFFF33; 
}

.reserveFormBox input:focus,
.reserveFormBox textarea:focus {
    border-color: #333;
}

.btn {
    transition: all 0.3s ease;
    cursor: pointer;
    padding: 15px 35px;
    border: none;
    background-color: #FFFFFF;
    color: #3A4EFF;
    font-size: 23px;
    font-weight: 600;
    margin-top: 15px;
    border-radius: 10px;
}

.btn:hover {
    background-color: #3A4EFF;
    color: #FFFFFF;
}

.clubMapContainer{
    background-image: url(../img/GEO-TERRAIN7.png);
    padding: 130px;
}

.mapImg{
    margin-top: 50px;
    width: 1100px;
}

.bootCampContainer{
    background-image: url(../img/GEO-TERRAIN5.png);
    padding: 130px;
    
}

.priceBoxBootCamp{
    border: 3px solid #FF003D;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottomDescBootCamp{
    font-size: 14px;
    text-align: center;
    color: #FF013E;
}